<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Calculator</title>
</head>
<body>
    <h1>Hello on the Calculator Website</h1>

    <form method="post" th:action="@{/}">
        <label for="num1">Enter the first numbers: </label>
        <input id="num1" name="num1" required type="double"><br>
        <label for="num2">Enter the second numbers: </label>
        <input id="num2" name="num2" required type="double"><br>
        <label for="operator">Enter the operator: </label>
        <input id="operator" name="operator" required type="char"><br>
        <button type="submit">Submit</button>
    </form>

    <span>Results: <span th:text="${o}"></span></span>

</body>
</html>